VITE_APPWRITE_URL= "https://nyc.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID= "6874d4c100147e52227f"
VITE_APPWRITE_DATABASE_ID="6874d5c5000f8cee5cd0"
VITE_APPWRITE_COLLECTION_ID="6874d612003947ab3277"
VITE_APPWRITE_BUCKET_ID="6874d7d8003137b4fcb1"